[ { "name": "RedesSociales", "present": true, "childs": [ { "name": "FaceBook", "present": true, "childs": null }, { "name": "Twitter", "present": true, "childs": null }, { "name": "Google", "present": true, "childs": null } ] }, { "name": "PublicarTransaccion", "present": true, "childs": null }, { "name": "Calificaciones", "present": true, "childs": [ { "name": "ConsultarCalificacion", "present": true, "childs": null }, { "name": "ComentarCalificacion", "present": true, "childs": null } ] }, { "name": "Reportes", "present": true, "childs": [ { "name": "Busquedas", "present": true, "childs": null }, { "name": "Consultas", "present": true, "childs": null }, { "name": "Ventas", "present": true, "childs": null } ] }, { "name": "MesaDeAyuda", "present": true, "childs": null }, { "name": "Mensajeria", "present": true, "childs": null } ]