@(products: List[Product])
@main("Products catalogue") {

  <h2>All products</h2>

    <script>
     function del(urlToDelete) {
        $.ajax({
          url: urlToDelete,
          type: 'DELETE',
          success: function(results) {
            // Refresh the page
            location.reload();
          }
        });
      }
   </script>

   <table class="table table-striped">
    <thead>
      <tr>
        <th>EAN</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    @for(product <- products) {

      <tr>
        <td>
          @product.getEan
        </td>
        <td>@product.getName</td>
        <td>@product.getDescription</td>
        <td>
            <a type="button" class="btn btn-warning" href="@routes.Products.details((String).valueOf(product.getId))">
                <span class="glyphicon glyphicon-edit" aria-hidden="true">Ver Detalle</span>
            </a>
        </td>

      </tr>
      }
  
    </tbody>
   </table>

  
    
  <a href="@routes.Products.newProduct()" class="btn">
    <i class="icon-plus"></i> New product</a>
}
