@import models.catalogo.Producto
@(producto: Producto)
@import java.math.BigInteger; var html = ""; var k=1
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MetaEcotour</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
            <!-- Material Design fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

            <!-- Bootstrap -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

            <!-- Custom CSS -->
        <link href="@routes.Assets.versioned("stylesheets/shop-homepage.css")" rel="stylesheet">

            <!-- Custom CSS - Comments -->
        <link href="@routes.Assets.versioned("stylesheets/coments.css")" rel="stylesheet">

            <!-- Bootstrap Material Design -->
        <link href="@routes.Assets.versioned("stylesheets/bootstrap-material-design.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/ripples.min.css")" rel="stylesheet">

        <link href="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">

            <!-- Sweetalert -->

        <link href="@routes.Assets.versioned("libs/swal/sweetalert.css")" rel="stylesheet">

        <link rel = 'stylesheet' href = '//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css'>
        <link rel = 'stylesheet' href = "@routes.Assets.versioned("stylesheets/fontawesome-stars.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <style>
        iframe
        {
            height: 400px;
        }
        </style>
        <script>
            var idProducto = @producto.getId();
        </script>
    </head>
    <body>
        <!-- Navigation -->
        <div class="navbar navbar-primary navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:void(0)">MetaEcoTour</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="javascript:void(0)">Catálogo</a></li>
                        <li><a href="javascript:void(0)">Acerca de</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:void(0)">My Carrito</a></li>
                        <li class="dropdown">
                            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Jorge Rubiano
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)">Mi Perfil</a></li>
                                <li><a href="javascript:void(0)">Mis Compras</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:void(0)" id = "logout">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            <!-- Fin d eprueba //-->
            <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="/catalog">Catálogo</a></li>
                        <li class="active">@producto.getNombre()</li>
                    </ol>
                </div>


                <div class="col-md-12">

                    <button type="button" class="btn btn-primary text-center"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Añadir al carrito</button>


                    <ul>
                        <li>@producto.getPrecioActual()</li>
                    </ul>

                </div>

                <div class="col-md-12">

                    <div class="row carousel-holder">

                        <div class="col-md-12">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    @producto.getRecursos().map {recurso =>
                                        @if(recurso.getTipo() != "html"){
                                            @if(k == 1){
                                                <div class="item active">
                                                }else{
                                                <div class="item">
                                                }
                                            @if(recurso.getTipo() == "video"){
                                                <iframe src="@recurso.getContenido()?rel=0&amp;controls=0&amp;showinfo=0" class="slide-image"></iframe>
                                            }else{
                                                <img class="slide-image img-responsive" src="@recurso.getContenido()" alt="" style="height: 400px;">
                                                }
                                            @{k += 1}
                                        </div>
                                        }else{
                                            @{html = recurso.getContenido()}
                                        }
                                    }
                                </div>




                                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>


                </div>

                <div class="col-md-12" style="margin-bottom: 40px;">


                        <div class="box-body" align="center">
                            <select id="example-movie" name="rating">
                                <option value="1">Lo odio</option>
                                <option value="2">No me ha gustado</option>
                                <option value="3">No está mal</option>
                                <option value="4">Me ha gustado</option>
                                <option value="5">Me ha encantado</option>
                            </select>
                        </div>

                </div>
                <div class="col-md-12">
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li class="active"><a href="#red" data-toggle="tab">Descripción</a></li>
                        <li><a href="#orange" data-toggle="tab">Comentarios</a></li>
                        <!-- <li><a href="#yellow" data-toggle="tab"></a></li> //-->
                    </ul>
                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="red">
                            @Html(html)
                        </div>
                        <div class="tab-pane" id="orange">
                            <h1>Comentarios @producto.getNombre()</h1>
                            <form action="#" method="post" class="form-horizontal" id="commentForm" role="form">
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">Comentario</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="commentText" id="commentText" rows="5"></textarea>
                                        <!-- <input type="hidden" name="origen" id="origen" value="0"/> //-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Enviar Comentario</button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <ul class="media-list">
                                <li id="comentario" class="media">
                                </li>
                            </ul>
                            <div align="center">
                                <ul class="pager">
                                    <li class="previous disabled"><a href="javascript:;">&larr; Anterior</a></li>
                                    <li class="next"><a href="javascript:;">Siguiente &rarr;</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--
                        <div class="tab-pane" id="yellow">
                            <h1>Comenytarios</h1>
                            <p>Los comentarios</p>
                        </div>
                        //-->
                    </div>
                </div>

            </div>

        </div>

        </div>
            <!-- /.container -->

        <div class="container">

            <hr>

                <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p align = "center">MetaEcoTour &copy; 2016</p>
                    </div>
                </div>
            </footer>

        </div>
            <!-- /.container -->

            <!-- jQuery -->

            <!-- Bootstrap Core JavaScript -->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src = "@routes.Assets.versioned("libs/swal/sweetalert.min.js")" type="text/javascript"></script>
        <script src = "@routes.Assets.versioned("js/jquery.barrating.min.js")"></script>
        <script src = "@routes.Assets.versioned("js/user.js")" type="text/javascript"></script>
        <script src = "@routes.Assets.versioned("js/script_detail.js")" type="text/javascript"></script>
    </body>
</html>