<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MetaEcotour</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
            <!-- Material Design fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

            <!-- Bootstrap -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

            <!-- Custom CSS -->
        <link href="@routes.Assets.versioned("stylesheets/shop-homepage.css")" rel="stylesheet">

            <!-- Custom CSS - Comments -->
        <link href="@routes.Assets.versioned("stylesheets/mensajes.css")" rel="stylesheet">

            <!-- Bootstrap Material Design -->
        <link href="@routes.Assets.versioned("stylesheets/bootstrap-material-design.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/ripples.min.css")" rel="stylesheet">
        <link href="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">
        <!-- Sweetalert -->
        <link href="@routes.Assets.versioned("libs/swal/sweetalert.css")" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <style>
            .imagenTabla
            {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                vertical-align: middle;
            }
        </style>
    </head>
    <body>
            <!-- Navigation -->
        <div class="navbar navbar-primary navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/catalog">MetaEcoTour</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav" id = "menuOpc">
                        <li><a href="/catalog">Catálogo</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li id = "divCarrito"><a href = "/shopping">Mi Carrito <sup class="badge" style="background: #4CAF50;" id = "numCompras">0</sup></a></li>
                        <li class="dropdown">
                            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown" id = "usuario"></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)">Mi Perfil</a></li>
                                <li><a href="javascript:void(0)">Mis Compras</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:void(0)" id = "logout">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            <!-- Fin de prueba //-->
            <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="active">Mis Mensajes</li>
                    </ol>
                </div>

                <div class="col-md-12">
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li ><a href="#blue" data-toggle="tab">Mensajes</a></li>
                    </ul>
                        <!-- member list -->
                    <div class="col-md-4 bg-white">

                        <ul id="usuarios" class="friend-list">

                        </ul>
                    </div>

                    <div class="col-md-8 bg-white ">
                        <div class="chat-message">
                            <ul id="chats" class="chat">

                            </ul>
                        </div>
                        <div class="chat-box bg-white">
                            <div class="input-group">
                                <input class="form-control border no-shadow no-rounded" placeholder="Escriba su mensaje acá" id = "txtResponde">
                                <span class="input-group-btn">
                                    <button class="btn btn-success no-rounded" type="button" id = "enviaMSG">Enviar</button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <!-- /.container -->
                <!-- Bootstrap Core JavaScript -->
            <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script src = "@routes.Assets.versioned("libs/swal/sweetalert.min.js")" type="text/javascript"></script>
            <script src = "@routes.Assets.versioned("js/user.js")" type="text/javascript"></script>
            <script src = "@routes.Assets.versioned("js/shopping.js")" type="text/javascript"></script>
            <script src = "@routes.Assets.versioned("js/script_mensajes.js")" type="text/javascript"></script>
    </body>
</html>